---
import type { Interest } from '@src/resume/resume-types.ts';
interface Props {
	interests?: Interest[];
}
const { interests } = Astro.props;
---

{
	interests && interests.length > 0 && (
		<section>
			<h2>Interests</h2>
			<ul>
				{interests.map((interest) => (
					<li>{interest}</li>
				))}
			</ul>
		</section>
	)
}
