---
/**
 * Due to a limitation in CSS, we need to do some work to be able
 * to support a full screen layout. This component will set the
 * height of the layout to 100% of the viewport height without
 * scrollbars or slight overflow issues.
 *
 * @slot - The content to display inside the full screen layout
 * @example
 * <Layout title="Home Page">
 *   <p>Page content goes here</p>
 * </Layout>
 */
---

<slot />
<style is:global>
	body {
		/* Prevent the whole page from scrolling */
		overflow: hidden;
		/* Set height to 100% of the viewport height */
		height: 100vh;
		margin: 0;
	}
</style>

<script>
	function setGroupHeights() {
		var groups = document.querySelectorAll<HTMLElement>('[id="100vh"]');
		groups.forEach((group: HTMLElement) => {
			group.style.height = window.innerHeight + 'px';
		});
	}

	// Set the height on initial load
	setGroupHeights();

	// Adjust the height when the window is resized
	window.addEventListener('resize', setGroupHeights);
</script>
